*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home-color{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    
}
.shape:first-child{
    background: linear-gradient(
        #004cff,
        #23a2f6
    );
    left: -80px;
    top: -80px;
    box-shadow: 10px 10px 20px #1845ad;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff2a00,
        #ff9500
    );
    right: -30px;
    bottom: -80px;
    box-shadow: -10px -10px 20px #f87358;
}
.register{
    height: 520px;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(139, 61, 61, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.register *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.register h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.form-btn{
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.register button a{
    text-decoration: none;
    color: black;
}
#back-btn{
    width: 100px;
    height: 50px;
    border-radius: 30px 0px 30px;
    cursor: pointer;
    font-weight: 600;
}

  /* background-color: rgba(255,255,255,0.47); */